
body{
    background-color: #f1580c;
    width: 90vw;
    height: 100vh;
  }
  h1{
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  h4{
    color: white;
    font-size: 40px;
    text-align: Center;
    font-family: 'Poppins', sans-serif;
  }
  
  .tp {
    background-color: #dd6124;
    margin-left: 15%;
    margin-right: 15%;


  }
  .tp i{
    color: white;
    font-size: 12vh;
    margin: 10px;
  }
  