body {
  
    
}

.bi-arrow-left-circle-fill {
    color: white;
    font-size: 40px;
    margin-right: 70%;
    margin-top: 40px;
}
h1 {
    text-align: center;
    font-size: 30px;
    color:white;
    font-family: Arial, Helvetica, sans-serif
}

#nome{
    text-align: center;
    font-size: 30px;
    color:white;
    font-family: Arial, Helvetica, sans-serif

}
#icones {
    border-top: 10px white;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 80px;
}
#icones i {
    color: aliceblue;
    font-size: 30px
}
#corpo{
   
    background-color:#f1580c ;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    width: 720px;
    height: 1280px;
    
    border: 3px solid white;
 }

 #elementos{
     width: 310px;
     height: 330px;
     background-color: #dd6124;
     text-align: center;
     border-radius: 15px;
     margin-left: 10px;
     margin-top: 50px;
 }

 #linha{
     width: 325px;
     border: 3px solid white;
 }