
body{
    background-color: #f1580c;
    width: 90vw;
    height: 100vh;
  }
  h1{
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  h4{
    color: white;
    font-size: 40px;
    text-align: Center;
    font-family: 'Poppins', sans-serif;
  }
  
  .tp {
    background-color: #dd6124;
    margin-left: 15%;
    margin-right: 15%;
    font-size:20% ;

  }
  .icons{
    color: white;
    font-size: 8vh;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
  
  