
body{
    background-color: #f1580c;
    width: 90vw;
    height: 100vh;
  }
  h1{
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  h4{
    color: white;
    font-size: 2px;
    text-align: Center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    
  }
  
  .tp {
    background-color: #dd6124;
    border-radius: 15px;
    width: 80%;
    
    margin-left: 20px;
    
  }
  

  
  .icons{
    color: white;
    font-size: 8vh;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
    .pt{
      background-color: #dd6124;
      margin-left: 15px;
      height: max-content;
      border-radius: 15px;
    }
  
    .St{
    background-color: #dd6124;
    font-size:20% ;
    border-radius: 15px;
    width: 322px;
    margin-left: 20px;
    }